body{
    background-image:linear-gradient(rgba(253, 234, 231, 1), rgb(255, 173, 173)) ;
    text-align: center;
    background-repeat: no-repeat;
}
.kart{
    width: 30px;
    height: 30px;
}

.ikon{
    transition: 1s;
    border-radius: 10px;
    border: 5px ridge #f1d0e0;
    width: 200px;
    height: 200px;
}
.ikontarakan{
    transition: 1s;
    border-radius: 10px;
    border: 5px ridge #f1d0e0;
    width: 350px;
    height: 200px;
}

.tovar{
    text-align: center;
    font-size: larger;
    margin: 30px;
    padding: 15px;
    transition: 1s;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.onepart{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 18px;
    font-family: "Great Vibes", cursive;
    line-height: 0px;
    transition: 0.5s;
}

.together:hover{
    color: rgb(153, 70, 98);
}

.tovar:hover img{
    transform: scale(1.1);
 }

 .tovar:hover{
    background-color: rgb(226, 179, 179);
    border-radius: 20px;
    cursor: pointer;
 }
 .button{
    background-color: azure;
    padding: 10px;
    border-radius: 30px;
    color: black;
    font-size: 25px;
    font-family: fantasy;
    text-decoration:none;
    transition: 1s;
 }
 .button:hover{
    background-color: indianred;
    color: azure;
 }
 .basket {
    background: url(https://png.pngtree.com/png-clipart/20241216/original/pngtree-happy-and-playful-cat-in-a-basket-png-image_17924532.png);
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    background-size: cover;
    cursor: pointer;
    transition: 1s;
}
.basket:hover{
    background-color: aliceblue;
    border-radius: 50px;
    width: 90px;
    height: 90px;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-image:linear-gradient( rgb(255, 173, 173),rgba(253, 234, 231, 1)) ;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 50px;
    border: 3px dotted rgb(204, 144, 204); 
  }