body {
    background-color: rgba(253, 234, 231, 1);
    margin: 0;
}

h1 {
    text-align: center;
    background-color: rgba(246, 144, 79, 1);
    color: rgba(237, 84, 152, 1);
    font-family: "Copse", serif;
    padding: 10px;
}

img {
    width: 150px;
}

 h2 {
    font-size: 18px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
 }
 p { 
    font-size: 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-left: 50px;
    margin-right: 50px;
 }
 .header_nav {
display: flex;
justify-content: right;
 }
 .quiz {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 7px;
 }
 .galery {
    background-color: rgba(255, 225, 143, 1);
    border: 1px solid rgba(255, 225, 143, 1);
    border-radius: 13px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 7px;
 }
 .store {
    background-color: rgba(255, 166, 0, 1);
    border: 1px solid rgba(255, 166, 0, 1);
    border-radius: 13px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 7px;
 }