body {
  background-color: rgba(253, 234, 231, 1);
  margin: 0;
}
main {
  padding: 10px;
}
.name {
  text-align: center;
  background-color: rgba(246, 144, 79, 1);
  color: rgba(237, 84, 152, 1);
  font-family: "Copse", serif;
  padding: 10px;
}

img {
  width: 150px;
}

h2 {
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
p {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  color: gray
}
.header_nav {
  display: flex;
  justify-content: right;
}
.quiz {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 13px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 7px;
}
.galery {
  background-color: rgba(255, 225, 143, 1);
  border: 1px solid rgba(255, 225, 143, 1);
  border-radius: 13px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 7px;
}
.store {
  background-color: rgba(255, 166, 0, 1);
  border: 1px solid rgba(255, 166, 0, 1);
  border-radius: 13px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 7px;
}
.goroskop,
.goroskop-two-cards {
  background-color: white;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.goroskop-two-cards {
  justify-content: center;
}

.two-cards {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.kotiki-card {
  width: 280px;
  height: 220px;
  background-color: rgba(255, 225, 143, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.goroskop_name {
  text-align: left;
}

.story {
  background-color: #ffacac;
  padding: 5px;
  margin: 5px;
  margin-left: 100px;
  margin-right: 80px;
  position: relative;
  height: 130px;
}
h3 {
  width: 220px;
  background-color: #fdeae7;
  margin: 0px;
  top: 5px;
}
.foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: -90px;
  bottom: 20px;
}
.foto1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  right: -90px;
  bottom: 20px;
}
.story1 {
  background-color: #ff8484;
  padding: 5px;
  margin: 5px;
  margin-left: 80px;
  margin-right: 100px;
  position: relative;
  height: 110px;
}
.imko1 {
  position: relative;
  left: 953px;
  width: 187px;
  background-color: #fdeae7;
}
.imko2 {
  width: 245px;
  background-color: #fdeae7;
}
.story2 {
  background-color: #ff809b;
  padding: 5px;
  margin: 5px;
  margin-left: 100px;
  margin-right: 80px;
  position: relative;
  height: 130px;
}
.story3 {
  background-color: #ed5498;
  padding: 5px;
  margin: 5px;
  margin-left: 80px;
  margin-right: 100px;
  position: relative;
  height: 110px;
}
.imko3 {
  position: relative;
  left: 950px;
  width: 190px;
  background-color: #fdeae7;
}
.purpaw {
  width: 50px;
  height: 50px;
  rotate: -45deg;
}
.purpaw1 {
  width: 50px;
  height: 50px;
  rotate: 45deg;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}
.koto-story {
  text-align: center;
}
.messages {
  width: 200px;
  height: 100px;
  background-color: rgba(255, 172, 172, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.triangle {
  width: 0;
  height: 0;
  margin: 40px;
  border-top: 0 solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ffacac;
  border-left: 40px solid transparent;
  position: absolute;
  left: -78px;
  top: 60px;
}
.triangle1 {
  width: 0;
  height: 0;
  margin: 40px;
  border-top: 0 solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ff8484;
  border-left: 40px solid transparent;
  position: absolute;
  right: -80px;
  top: 40px;
}
.triangle2 {
  width: 0;
  height: 0;
  margin: 40px;
  border-top: 0 solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ff809b;
  border-left: 40px solid transparent;
  position: absolute;
  left: -78px;
  top: 60px;
}
.triangle3 {
  width: 0;
  height: 0;
  margin: 40px;
  border-top: 0 solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ed5498;
  border-left: 40px solid transparent;
  position: absolute;
  right: -80px;
  top: 40px;
}
.mur {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
